@import "./reset.css";
/*Mobile first*/
body {
  background: #242423;
  color: #ffffff;
  font-family: Helvetica, sans-serif;
}

body.overflow-hidden {
  overflow: hidden;
}

.gallery {
  z-index: 20;
}

.gallery h1 {
  margin: 1rem 0;
  text-align: center;
}

.gallery-wrapper {
  padding: 0px 1rem 30px 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.galery-item {
  width: 100%;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: zoom-in;
}

.galery-item::before {
  content: "";
  opacity: 0.3;
  background: #000000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  transition: opacity 0.5s ease;
}

.galery-item:hover::before {
  opacity: 0.7;
}

.gallery-text {
  position: absolute;
  z-index: 11;
}

.gallery-heart {
  position: absolute;
  right: 15px;
  bottom: 15px;
  font-size: 27px;
  z-index: 11;
  cursor: pointer;
}

.gallery-heart i {
  transition: 0.5s ease all;
}

.gallery-text p {
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  margin: 0 0 6px 0;
}

.gallery-text span {
  font-size: 14px;
  letter-spacing: 0.5px;
}

.footer {
  padding: 1rem;
  text-align: center;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1.5px;
  background: #181816;
}

.footer i {
  color: #fc3b3b;
  font-size: 20px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  background: #000000;
  opacity: 0.8;

  opacity: 0;
  visibility: hidden;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}
.overlay.active {
  opacity: 0.8;
  visibility: visible;
  z-index: 99;
  width: 100%;
  height: 100%;
}
.content-show-image {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

.content-show-image.active {
  opacity: 1;
  visibility: visible;
  z-index: 99;
}
.content-show-image .btn.close {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.content-show-image .btn.close::before {
  content: "\f00d";
  font-family: FontAwesome;
  color: #ffffff;
  font-size: 2rem;
  font-weight: lighter;
}

.overlay-image {
  border: 1px solid #ffffff;
  width: 300px;
  height: auto;
}

/* Add images */
.gallery-add-image {
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.5px;
  font-size: 14px;
  cursor: pointer;
}

.gallery-add-image i {
  font-size: 22px;
  margin: 0 6px 0 0;
}

@media screen and (min-width: 768px) {
  .gallery-wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    padding: 0 1rem 60px 1rem;
  }
}

@media screen and (min-width: 992px) {
  .gallery-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
  .footer {
    font-size: 1rem;
  }
  .gallery-text p {
    font-size: 24px;
  }
  .gallery-text span {
    font-size: 16px;
  }
}

@media screen and (min-width: 1200px) {
}
